#ast-desktop-header {
  @media (max-width: 937.99px) {
    display: none;
  }

  .site-header-primary-section-center {
    a {
      position: relative;
      overflow: hidden;
      outline: none;

      &:hover {
        color: $primary !important;
        &::after {
          margin-left: 0;
        }
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 8px;
        background-color: $primary;
        position: absolute;
        bottom: 10px;
        left: 0;
        margin-left: -110%;
        transition: 0.3s all;
      }
    }
  }

  .site-branding {
    padding: 0;
  }

  .ast-custom-button {
    &:hover {
      animation: shake 150ms 2 linear;
      background-color: darken($color: $primary, $amount: 15%);
    }
  }

  .ast-primary-header-bar {
    background-color: transparent;
  }
}

.bezimeni-logo {
  max-width: 170px;
}
