.theme-switcher {
  background-color: $primary;
  width: 8px;
  height: 35px;
  border-radius: $border-radius-pill;
  position: relative;
  cursor: pointer;

  svg {
    color: $dark;
    position: absolute;
    bottom: -5px;
    left: -6px;
    background-color: $white;
    padding: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s all;
  }
}

body.dark-theme {
  .theme-switcher svg.bi-moon-fill {
    opacity: 1;
  }
}

body.light-theme {
  .theme-switcher {
    background-color: $dark;

    svg.bi-brightness-high-fill {
      background-color: $primary;
      color: $dark;
      opacity: 1 !important;
      bottom: 16px;
    }
  }
}
